Amswer 1
WAP to substract 2 complex number
*italicised text*

In [ ]:
a = 2 + 3j
b = 3 + 4j

c = b-a

print("The difference between {0} and {1} is {2}".format(a , b, c))

The difference between (2+3j) and (3+4j) is (1+1j)

Answer 2 WAP to find the fourth root of the number

In [ ]:
import math

a = 100
b = math.sqrt(a)
print("Second root it ", b)

c = math.sqrt(b)
print("Fourth root is ", c)

Second root it  10.0
Fourth root is  3.1622776601683795

Answer 3 WAP to swap two number with temp variable

In [ ]:
a = 20
b = 40
print("Original values of a and b are ", a, b)

c = a
a = b
b = c

print("New values of a and b are ", a, b)

Original Values of a and b are  20 40
New values of a and b are  40 20

Answer 4 WAP to swap two numbers without temporary variable

In [ ]:
a = 20
b = 10
print("Numbers before swappinng", a, b)

a, b = b, a
print("Numbers after swapping", a, b)

Numbers before swappinng 20 10
Numbers after swapping 10 20

Answer 5 WAP convert fahrenheit to kelvin and celcius

In [ ]:
tf = 32

tc = (5*(tf - 32))/ 9
print("Temperaturre in celcius is ", tc)

tk = tc + 273.15
print("Temperaturre in keelivin is ", tk)

Temperaturre inn celcius is  0.0
Temperaturre in keelivin is  273.15

Answer 6 WAP to demostrrate all available data types in python

In [ ]:
a = 10
b = 12.5
c = "Hey my name is omkarr! Pleased to meet you "
d = (10, 12)
e = [10, 20, 30]
print("Variable a is of type", type(a))
print("Variable b is of type", type(b))
print("Variable c is of type", type(c))
print("Variable d is of type", type(d))
print("Variable e is of type", type(e))

Variable a is of type <class 'int'>
Variable b is of type <class 'float'>
Variable c is of type <class 'str'>
Variable d is of type <class 'tuple'>
Variable e is of type <class 'list'>

Answer 7 Create a markdown inn jupiter cell will all the steps for uploading assignments to github and assignnmient links

# Create a github public repo and name it LetsUpgrade AI/ML
## Upload the files/solution in the repo in day wise manner.
__Copy the url of the Folder of that day and paste in the Assignment Submission Form (Google Form) which will be mentioned in this section after the class.__

___Make sure you are filling correct details in the Assignment Submission Form.___

___You have to upload the assignment solutions to your Github profile and submit the URL to us.___