# Answer 1
#### WAP find first 20 prime numbers

In [27]:
prime_numbers = []
def prime_check():
  i, j, flag = 0,0,0

  for i in range(1, 101, 1):
    if (i == 0 or i == 1):
      continue
    flag = 1
    if len(prime_numbers) <= 19:
      for j in range(2, ((i //2) + 1), 1):
        if (i % j == 0):
          flag = 0
          break
    
      if (flag == 1):
        prime_numbers.append(i)
        # print(i, end = " ")
    else:
      break

prime_check()
print("prime numbers are {0}".format(prime_numbers))

prime numbers are [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71]

# Answer 2

#### implemennt 15 string functions

In [62]:
s = "my name is omkar"

print("01. Capitalize Function ", s.capitalize())
print("02. Center Function ",s.center(30, "O"))
print("03. Count of alphabet 'a' is ",s.count("a"))
print("04. Format Function Hello my name is {0}".format("Omkar"))
print("05. Upper Function ", s.upper())
print("06. Lower Fucntion ", s.lower())
print("07. isAlpha Funnction ", s.isalpha())
print("08. isDigit Function ", s.isdigit())
print("09. Split Fucntion ", s.split(" "))
print("10. Reverse string ", s[::-1])
print("11. Elements from 1 to 10 index", s[1: 10])
print("12. Swapcase Function ", s.swapcase())
print("13. Ends With Function ", s.endswith("r"))
print("14. Find Function ", s.find("Omkar"))
print("15. Replace Fucntion ", s.replace("omkar" , "John"))

01. Capitalize Function  My name is omkar
02. Center Function  OOOOOOOmy name is omkarOOOOOOO
03. Count of alphabet 'a' is  2
04. Format Function Hello my name is Omkar
05. Upper Function  MY NAME IS OMKAR
06. Lower Fucntion  my name is omkar
07. isAlpha Funnction  False
08. isDigit Function  False
09. Split Fucntion  ['my', 'name', 'is', 'omkar']
10. Reverse string  rakmo si eman ym
11. Elements from 1 to 10 index y name is
12. Swapcase Function  MY NAME IS OMKAR
13. Ends With Function  True
14. Find Function  -1
15. Replace Fucntion  my name is John

# Answer 3
#### check Palindrome

In [74]:
s = input("Enter a string ")
reverse_string = s[::-1]

if s == reverse_string:
  print("Palindrome String")
else:
  print("Not a palindrome ")

Enter a string abcbb
Not a palindrome
['a', 'b', 'b', 'b', 'c']

#### check anagram

In [75]:
s = input("Enter a String ")
s2 = input("Enter another String ")
if sorted(s) == sorted(s2):
  print("They are an anagram")
else:
  print("Not an anagram!!")

Enter a String listen
Enter another String silent
They are an anagram

# Answer 4

#### remove special characters from a string

In [79]:
s = "Dr. Darshan Ingle @AI-ML Trainer"
new_s = ""
for char in s:
  if char.isalnum() == True:
    new_s = new_s + char

print(new_s.lower())

drdarshaningleaimltrainer