# Answer 1
seperate company name from an email address

In [ ]:
email_address = input("Enter your email address")
print(email_address.split("@")[1].split(".")[0])

# Answer 2
accept comma seperated values and sort them alphabetically

In [7]:
values_string = input("Enter 5 comma seperated values")
values_list = values_string.split(",")
values_list.sort()
print(values_list)

Enter 5 comma seperated valueshey, tom, how, are , you
[' are ', ' how', ' tom', ' you', 'hey']

# Answer 4
find the missing number from the sequence

In [12]:
mystring = input("Enter sequence seperated by space")
mylist_string = mystring.split(" ")

for i in range(0, len(mylist_string)):
  mylist_string[i] = int(mylist_string[i])

n = len(mylist_string)
total = (n+1) * (n+2) /2
sum = sum(mylist_string)

print(total - sum)

Enter sequence seperated by space1 2 3 4 6 7 8 9 10
5.0

# Answer 5

remove duplicates from a list

In [9]:
mystring = input("Enter elements seperated by space")
mylist = mystring.split(" ")
mylist = list(dict.fromkeys(mylist))
print(mylist)

Enter elements seperated by space10 12 13 12 11 15
['10', '12', '13', '11', '15']